@font-face {
    font-family: KeplerNormal;
    src: url(./fontes/KeplerStdSubh.otf);
}

@font-face {
    font-family: KeplerBold;
    src: url(./fontes/KeplerStdBlack.otf);
}

body{
    margin: 0;
    padding: 0;
    font-family: KeplerNormal;
    cursor: url(./../cursor/cursor-2.cur), auto;
}

body a{
    color: black;
    text-decoration: none;
}

.navbarRight{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    font-family: KeplerNormal;
    transition: all 0.3s ease-in-out;
}

.navbarRight div:hover{
    transform: scale(1.05);
    cursor: url(./../cursor/cursor-3.cur), auto;
}

.navbar {
    background-image: linear-gradient(
        to right,
        white,
        #DCDCDC
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarMiddle{
    width: 20%; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

.navbarRight{
    width: 20%; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}


.navbarLeft{
    display: flex;
    align-items: center;
    margin: 10px;
}

.container{
    height: 15vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    background-image: url(./../imagens/Banner2.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.contaBox{
    display: flex;
    flex-direction: row;
}

.checkbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30vh;
    height: 20vh;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
}

.checkboxBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checkboxDiv{
   margin: 20px;
}

.grafico{
    width: 50vh;
    border: 2px;
    border-style: solid;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.graficoIPT{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    padding: 20px;
    font-size: 20px;
}

.CBbox{
    width: 100vh;
}

input{
    font-size: 16px;
    font-family: KeplerNormal;
    margin: 10px;
    background-color: #E0E0E0;
    border: none;
    border-radius: 10px;
    height: 21px;
    width: 400px;
    padding: 10px;
    text-align: start;
}

button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #3C3C3C;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: KeplerNormal;
    transition: all 0.3s ease-in-out;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: url(./../cursor/cursor-3.cur), auto;
}

.CHKbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
}

.hello{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.conteudoHome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contaHomeBox{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 300px;
    border-radius: 15px;
    margin: 30px;
    padding: 20px;
    transition: scale 0.5s, rotate 0.5s;
}

.contaHomeBox p{
    text-align: start;
    font-size: 22px;
}

.contaHomeBox a{ 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.contaHomeBox:hover{
    scale: 1.02;
    rotate: 2deg;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: url(./../cursor/cursor-3.cur), auto;

}

.Postagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8f8f8f;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.div-form textarea{
    width: 450px;
    height: 100px;
    border-radius: 15px;
    border: none;
    background-color: #DCDCDC;
}

.KPIBox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.KPIContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 50vh;
    border: solid;
    border-radius: 20px;
}

.KPIContent div{
    padding: 5px;
}

.feed-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postagem{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: 80vh;
    border-radius: 20px;
    border-color: #3C3C3C;
    border: solid;
}

.legendaKPI{
    font-size: 20px;
}





