@font-face {
    font-family: KeplerNormal;
    src: url(./../fontes/KeplerStdSubh.otf);
}

@font-face {
    font-family: KeplerBold;
    src: url(./../fontes/KeplerStdBlack.otf);
}

@keyframes fade {
    from{
        opacity: 0;
        scale: 0.9;
    } to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes height{
    from{height: 85vh;}
    to{height: 40vh;}
}

@keyframes height2{
    from{height: 40vh;}
    to{height: 85vh;}
}

body{
    margin: 0;
    padding: 0;
    font-family: KeplerNormal;
    cursor: url(./../cursor/cursor-2.cur), auto;
}

body a{
    color: black;
    text-decoration: none;
}

p, h3, img, .box1, .imageBox, .bannerContainer, .banner2, .boxSobreImg{
    /* aqui temos a animação do scroll, no qual o primeiro valor seria no nome declarado no @keyframe, o segundo seria a duração, o terceiro a direção (frente, trás ou ambos), e por mais que tenha mais opções, não é necessario colocar. */
    animation: fade ease both; 
    animation-timeline: view();  
    animation-range: entry 0% cover 40%;
}

.navbarRight a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: 15px;
    text-align: center;
    font-family: KeplerNormal;
    transition: all 0.3s ease-in-out;
}

.navbarRight a:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: url(./../cursor/cursor-3.cur), auto;
}

.navbar {
    background-image: linear-gradient(
        to right,
        white,
        #DCDCDC
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarMiddle{
    width: 20%; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

.navbarRight{
    width: 20%; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}


.navbarLeft{
    display: flex;
    align-items: center;
    margin: 10px;
}

.HomeStyle{
    display: flex; 
    text-align: center; 
    justify-content: center;
}

.container{
    animation: height2 2s;
    height: 85vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    background-image: url(./../imagens/Banner2.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: end;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.banner .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sobreORV{
    animation: height 2s;
    height: 40vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    background-image: url(./../imagens/Banner2.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container-sobreORV h1{
    display: inline-block;
    animation: fade 1s;
    opacity: 100%;
}

.container-Login-Signup{
    height: 93vh;
    color: white;
    background-image: url(./../imagens/Banner2.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.container-sobreSite{
    background-color: white;
    background-image: url(./../imagens/banner6.jpg);
    border-radius: 30px;
    height: 100px;
    position: relative;
}

.banner {
    background-color: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.banner2 {
    background-color: black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.checkboxBanner2{
    position: relative;
    width: 50px;
    height: 25px;
    margin: 20px;
    border-radius: 50px;
}

.banner2Text{
    display: flex;
    flex-direction: row;
}

.bannerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    margin: 20px;
    width: 60%;
    height: 100%;
    opacity: 90%;
}

.content div{
    padding: 30px;
}

.box1{
    display: flex;
    flex-direction: row;
}

.galeria{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria .galeriaBox{
    position: relative;
    width: 180px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;

    /* margem horizontal */
    margin: 0 -45px;

    /* rotaciona o elemento de acordo com o valor armazenado na variável --r (declarada na div "galeriaBox", permitindo controle dinâmico sobre a rotação. */
    transform: rotate(calc(var(--r) * 1deg)); 

    color: white;
    box-shadow: rgba(255, 255, 255, 0.05);
    font-size: 20px;
}

.galeria .galeriaBox img{
    border-radius: 20px;
}

.galeria:hover .galeriaBox{

    /* quando o mouse estiver em cima da div galeria, os elementos do galeriaBox terão a rotação resetada para 0, e a margem horizontal modificada para 20px */
    transform: rotate(0deg);
    margin: 0 20px;
}

.galeria .galeriaBox::before{
    /* o attr recupera o valor de um atributo HTML, então nesse caso, ele ta pegando o data-text inserido na div da galeriaBox*/
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 80px;
    font-size: 20px;
}

.mainTextBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainText{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 1000px;
    font-size: 20px;
}

.subTexts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subTextsBox{
    padding: 30px;
    text-align: center;
}

.imageBoxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.imageBox{
    padding: 20px;
}

.imageContent img{
    transition: scale 0.5s, rotate 0.5s;
}

.imageContent:hover img{
    scale: 1.05;
    rotate: 2deg;
}

.imageBox img{
    border-radius: 20px;
}

.loginBox{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
}

.loginBox input{
    font-size: 16px;
    font-family: KeplerNormal;
    margin: 10px;
    background-color: #E0E0E0;
    border: none;
    border-radius: 10px;
    height: 38px;
    width: 500px;
    padding: 10px;
    text-align: start;
}

.loginBox button{
    margin: 20px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #3C3C3C;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: KeplerNormal;
    transition: all 0.3s ease-in-out;
}

.loginBox button:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: url(./../cursor/cursor-3.cur), auto;
}

.cadastroBox{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
}

.inputsCadastro{
    display: flex;
    flex-direction: column;
}

.inputsCadastro input{
    font-size: 16px;
    font-family: KeplerNormal;
    margin: 10px;
    background-color: #E0E0E0;
    border: none;
    border-radius: 10px;
    height: 38px;
    width: 350px;
    padding: 10px;
    text-align: start;
}

.inputsCadastro select{
    appearance: none;
    position: relative;
    font-size: 16px;
    font-family: KeplerNormal;
    margin: 10px;
    background-color: #E0E0E0;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    height: 57px;
    width: 400;
    padding: 10px;
    text-align: start;
    appearance: none;
    /* arrow */

    /* link da imagem */
    background-image: url("https://www.worldskillseurope.org/concrete/images/icons/select_arrow_down.svg");

    /* para não espelhar */
    background-repeat: no-repeat; 
    
    /* posição dela no select */
    background-position: right 10px top 50%;

    /* tamanho dela */
    background-size: 10px auto;
}

.inputsCadastro button{
    margin: 20px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #3C3C3C;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: KeplerNormal;
    transition: all 0.3s ease-in-out;
}

.cadastroBoxInputs{
    display: flex;
}

.cadastroBox button{
    margin: 20px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #3C3C3C;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: KeplerNormal;
    transition: all 0.3s ease-in-out;
}

.cadastroBox button:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: url(./cursor/cursor-3.cur), auto;
}

.boxSobre{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 100vh;
    padding: 20px;
}

.boxSobreImg{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxSobreTexto{
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

svg{
    transition: scale 0.3s ease-in-out;
    padding: 10px;
}

svg:hover{
    scale: 1.10;
}

svg{
    height: 50px;
}

.boxImpacto{
    display: flex;
    flex-direction: row;
}

.boxImpactoTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.boxImpactoImg{
    margin: 30px;
}

.chartsFeed{
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorLine{
    background-color: black;
    height: 5px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.textBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 35px;
}
