@font-face {
    font-family: KeplerNormal;
    src: url(./fontes/KeplerStdSubh.otf);
}

@font-face {
    font-family: KeplerBold;
    src: url(./fontes/KeplerStdBlack.otf);
}

body{
    margin: 0;
    padding: 0;
    font-family: KeplerNormal;
    cursor: url(./cursor/cursor-2.cur), auto;
}

body a{
    color: black;
    text-decoration: none;
}

.navbarRight a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: 15px;
    text-align: center;
    font-family: KeplerNormal;
    transition: all 0.3s ease-in-out;
}

.navbarRight a:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: url(./cursor/cursor-3.cur), auto;
}

.navbar {
    background-image: linear-gradient(
        to right,
        white,
        #DCDCDC
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarMiddle{
    width: 20%; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

.navbarRight{
    width: 20%; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}


.navbarLeft{
    display: flex;
    align-items: center;
}

.HomeStyle{
    display: flex; 
    text-align: center; 
    justify-content: center;
}

.container{
    height: 60vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    background-image: url(./imagens/Banner.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.container-sobreORV{
    height: 20vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    background-image: url(./imagens/Banner.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.container-Login-Signup{
    height: 93vh;
    color: white;
    background-image: url(./imagens/bg3.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.banner {
    background-color: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.box1{
    display: flex;
}

.galeria{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.galeria img{
    border-radius: 45px;
    transition: all 0.3s ease-in-out;
}


.galeria img:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 50px;
}

.mainTextBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainText{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 1000px;
    transition: scale 0.5s;
}

.mainText:hover{
    scale: 1.05;
}

.subTexts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subTextsBox{
    padding: 30px;
    text-align: center;
    transition: scale 0.5s;
}

.subTextsBox:hover{
    scale: 1.05;
}

.imageBoxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.imageBox{
    padding: 20px;
}

.imageContent img{
    transition: scale 0.5s, rotate 0.5s;
}

.imageContent:hover img{
    scale: 1.05;
    rotate: 2deg;
}

.imageBox img{
    border-radius: 20px;
}

.loginBox{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
}

.loginBox input{
    font-size: 16px;
    font-family: KeplerNormal;
    margin: 10px;
    background-color: #E0E0E0;
    border: none;
    border-radius: 10px;
    height: 38px;
    width: 500px;
    padding: 10px;
    text-align: start;
}

.loginBox button{
    margin: 20px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #3C3C3C;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: KeplerNormal;
    transition: all 0.3s ease-in-out;
}

.loginBox button:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: url(./cursor/cursor-3.cur), auto;
}

.cadastroBox{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
}

.inputsCadastro{
    display: flex;
    flex-direction: column;
}

.inputsCadastro input{
    font-size: 16px;
    font-family: KeplerNormal;
    margin: 10px;
    background-color: #E0E0E0;
    border: none;
    border-radius: 10px;
    height: 38px;
    width: 350px;
    padding: 10px;
    text-align: start;
}

.inputsCadastro select{
    appearance: none;
    position: relative;
    font-size: 16px;
    font-family: KeplerNormal;
    margin: 10px;
    background-color: #E0E0E0;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    height: 57px;
    width: 400;
    padding: 10px;
    text-align: start;
    appearance: none;
    /* arrow */

    /* link da imagem */
    background-image: url("https://www.worldskillseurope.org/concrete/images/icons/select_arrow_down.svg");

    /* para não espelhar */
    background-repeat: no-repeat; 
    
    /* posição dela no select */
    background-position: right 10px top 50%;

    /* tamanho dela */
    background-size: 10px auto;
}

.inputsCadastro button{
    margin: 20px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #3C3C3C;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: KeplerNormal;
    transition: all 0.3s ease-in-out;
}

.cadastroBoxInputs{
    display: flex;
}

.cadastroBox button{
    margin: 20px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #3C3C3C;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: KeplerNormal;
    transition: all 0.3s ease-in-out;
}

.cadastroBox button:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: url(./cursor/cursor-3.cur), auto;
}

